In [1]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime
import re
import warnings
#warnings.simplefilter('ignore')

#Specifying which teams and years to include in data set
Teams = ['CHC', 'CHW', 'LAA', 'LAD', 'NYM', 'NYY', 'OAK', 'SFG']
Years = []
for year in range(2010,2020):
    Years.append(str(year))

list_of_df = list()

#Creating dataframe
for team in Teams:
    for year in Years:
        #Will retrieve data from each year for each team
        url = 'https://www.baseball-reference.com/teams/' + team + '/' + year +'-schedule-scores.shtml'
        dfname = team + '_' + year
        html = requests.get(url).content
        df_list = pd.read_html(html)
        df = df_list[-1]
        
        #Formatting data table
        #rename columns
        df.rename(columns={"Gm#": "GM_Num", "Unnamed: 4": "Home", "Tm": "Team", "D/N": "Night"}, inplace = True)
        #turn home, game win, and night into dummy variables
        df['Home'] = df['Home'].apply(lambda x: 0 if x == '@' else 1)
        df['Game_Win'] = df['W/L'].astype(str).str[0]
        df['Game_Win'] = df['Game_Win'].apply(lambda x: 0 if x == 'L' else 1)
        df['Night'] = df['Night'].apply(lambda x: 1 if x == 'N' else 0)
        #quantify streak as number
        df['Streak'] = df['Streak'].apply(lambda x: -1*len(x) if '-' in x else len(x))
        df.drop('Unnamed: 2', axis=1, inplace = True)
        df.drop('Orig. Scheduled', axis=1, inplace = True)
        df.drop('Win', axis=1, inplace = True)
        df.drop('Loss', axis=1, inplace = True)
        df.drop('Save', axis=1, inplace = True)
        #Drop rows that do not have data
        df = df[df['GM_Num'].str.isdigit()]
        #Convert W-L column to 4 new numeric columns: Wins, Losses, Net Wins (Wins - Losses), Win Percentage (Wins/Total Games)
        WL = df["W-L"].str.split("-", n = 1, expand = True)
        df["Wins"] = WL[0].astype(dtype=np.int64)
        df["Losses"] = WL[1].astype(dtype=np.int64)
        df['Net_Wins'] = df['Wins'] - df['Losses']
        df['Win_Per'] = df['Wins']/(df['Wins']+df['Losses'])
        #Turn date into datetime object
        DayDate = df['Date'].str.split(", ", n = 1, expand = True)
        df['DayOfWeek'] = DayDate[0]
        df['Date'] = DayDate[1] + ', ' + year
        df['Date'] = [re.sub("\s\(\d+\)", "", str(x)) for x in df['Date']]
        df['Date'] = pd.to_datetime(df['Date'], format='%b %d, %Y')
        #Add to list which will be turned into a dataframe
        list_of_df.append(df)

#Create dataframe
bbattend = pd.concat(list_of_df)
#bbattend

/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [2]:
#Create Year Variable for Matching Later
bbattend['Year'] = bbattend.Date.dt.year

#Specify what the same-market team is for matching
bbattend['Same_Mkt_Team'] = bbattend.apply(lambda _: '', axis=1)
bbattend['Same_Mkt_Team'][bbattend['Team'].str.contains('LAA')] = 'LAD'
bbattend['Same_Mkt_Team'][bbattend['Team'].str.contains('LAD')] = 'LAA'
bbattend['Same_Mkt_Team'][bbattend['Team'].str.contains('NYY')] = 'NYM'
bbattend['Same_Mkt_Team'][bbattend['Team'].str.contains('NYM')] = 'NYY'
bbattend['Same_Mkt_Team'][bbattend['Team'].str.contains('CHW')] = 'CHC'
bbattend['Same_Mkt_Team'][bbattend['Team'].str.contains('CHC')] = 'CHW'
bbattend['Same_Mkt_Team'][bbattend['Team'].str.contains('OAK')] = 'SFG'
bbattend['Same_Mkt_Team'][bbattend['Team'].str.contains('SFG')] = 'OAK'

#Create day of week dummy variables
WeekDays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for i in WeekDays:
    bbattend[i] = bbattend.apply(lambda _: '', axis=1)
    bbattend[i] = bbattend['DayOfWeek'].apply(lambda x: 1 if x == i else 0)

#Create game_id which will be used to delete duplicates later
bbattend['game_id'] = bbattend['Team'] + bbattend['Date'].astype(str)
#bbattend

/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/laurel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [3]:
# Create merged table
# Will match all dates of games of team with dates within same year of teams from same-market team 
merged = bbattend.merge(
    bbattend[["Date", "Year", "Team", "Net_Wins", "Win_Per","Streak", 'Wins', 'Losses']],
    how="inner",
    left_on=["Year", "Same_Mkt_Team"],
    right_on=["Year", "Team"],
    suffixes=('', '_Same_Mkt_Team')
)

#Measure how far apart the dates of the games are
merged["date_diff"] = (merged.Date - merged.Date_Same_Mkt_Team).dt.days
#Only keep the dates of same-market team that occurred before the date of home team's game
merged = merged[merged['date_diff'] > 0]

In [4]:
#Sort by date_diff so closest dates appear first
merged.sort_values(by='date_diff', inplace = True)

#Only keep first game_id which will include the data of the same-market team for the closest date before the game
merged.drop_duplicates(subset =['game_id'], keep = 'first', inplace = True)


merged.sort_values(by=['Team', 'Date'], inplace = True)
merged.head(20)

,GM_Num,Date,Team,Home,Opp,W/L,R,RA,Inn,W-L,...,Sunday,game_id,Date_Same_Mkt_Team,Team_Same_Mkt_Team,Net_Wins_Same_Mkt_Team,Win_Per_Same_Mkt_Team,Streak_Same_Mkt_Team,Wins_Same_Mkt_Team,Losses_Same_Mkt_Team,date_diff
162,2,2010-04-07,CHC,0,ATL,L,2,3,NaN,0-2,...,0,CHC2010-04-07,2010-04-05,CHW,1,1.000000,1,1,0,2
325,3,2010-04-08,CHC,0,ATL,W,2,0,NaN,1-2,...,0,CHC2010-04-08,2010-04-07,CHW,0,0.500000,-1,1,1,1
488,4,2010-04-09,CHC,0,CIN,L,4,5,NaN,1-3,...,0,CHC2010-04-09,2010-04-08,CHW,-1,0.333333,-2,1,2,1
651,5,2010-04-10,CHC,0,CIN,W,4,3,NaN,2-3,...,0,CHC2010-04-10,2010-04-09,CHW,-2,0.250000,-3,1,3,1
814,6,2010-04-11,CHC,0,CIN,L,1,3,NaN,2-4,...,1,CHC2010-04-11,2010-04-10,CHW,-3,0.200000,-4,1,4,1
977,7,2010-04-12,CHC,1,MIL,W,9,5,NaN,3-4,...,0,CHC2010-04-12,2010-04-11,CHW,-2,0.333333,1,2,4,1
1141,8,2010-04-14,CHC,1,MIL,W,7,6,NaN,4-4,...,0,CHC2010-04-14,2010-04-13,CHW,-2,0.375000,-1,3,5,1
1304,9,2010-04-15,CHC,1,MIL,L,6,8,NaN,4-5,...,0,CHC2010-04-15,2010-04-14,CHW,-1,0.444444,1,4,5,1
1467,10,2010-04-16,CHC,1,HOU,W,7,2,NaN,5-5,...,0,CHC2010-04-16,2010-04-15,CHW,-2,0.400000,-1,4,6,1
1630,11,2010-04-17,CHC,1,HOU,L,3,4,NaN,5-6,...,0,CHC2010-04-17,2010-04-16,CHW,-3,0.363636,-2,4,7,1
1793,12,2010-04-18,CHC,1,HOU,L,2,3,10,5-7,...,1,CHC2010-04-18,2010-04-17,CHW,-4,0.333333,-3,4,8,1
1956,13,2010-04-19,CHC,0,NYM,L,1,6,NaN,5-8,...,0,CHC2010-04-19,2010-04-18,CHW,-5,0.307692,-4,4,9,1
2118,14,2010-04-20,CHC,0,NYM,L,0,4,NaN,5-9,...,0,CHC2010-04-20,2010-04-18,CHW,-5,0.307692,-4,4,9,2
2281,15,2010-04-21,CHC,0,NYM,W,9,3,NaN,6-9,...,0,CHC2010-04-21,2010-04-20,CHW,-4,0.357143,1,5,9,1
2444,16,2010-04-22,CHC,0,NYM,L,2,5,NaN,6-10,...,0,CHC2010-04-22,2010-04-21,CHW,-5,0.333333,-1,5,10,1
2607,17,2010-04-23,CHC,0,MIL,W,8,1,NaN,7-10,...,0,CHC2010-04-23,2010-04-22,CHW,-6,0.312500,-2,5,11,1
2770,18,2010-04-24,CHC,0,MIL,W,5,1,NaN,8-10,...,0,CHC2010-04-24,2010-04-23,CHW,-5,0.352941,1,6,11,1
2933,19,2010-04-25,CHC,0,MIL,W,12,2,NaN,9-10,...,1,CHC2010-04-25,2010-04-24,CHW,-4,0.388889,2,7,11,1
3096,20,2010-04-26,CHC,1,WSN,W-wo,4,3,10,10-10,...,0,CHC2010-04-26,2010-04-25,CHW,-3,0.421053,3,8,11,1
3258,21,2010-04-27,CHC,1,WSN,L,1,3,NaN,10-11,...,0,CHC2010-04-27,2010-04-25,CHW,-3,0.421053,3,8,11,2

In [5]:
#merged.to_csv('bbattend.csv')

In [6]:
#create df with just home games
homegames = merged[merged.Home == 1]
#homegames.to_csv('bbattendhome.csv')
homegames

,GM_Num,Date,Team,Home,Opp,W/L,R,RA,Inn,W-L,...,Sunday,game_id,Date_Same_Mkt_Team,Team_Same_Mkt_Team,Net_Wins_Same_Mkt_Team,Win_Per_Same_Mkt_Team,Streak_Same_Mkt_Team,Wins_Same_Mkt_Team,Losses_Same_Mkt_Team,date_diff
977,7,2010-04-12,CHC,1,MIL,W,9,5,NaN,3-4,...,0,CHC2010-04-12,2010-04-11,CHW,-2,0.333333,1,2,4,1
1141,8,2010-04-14,CHC,1,MIL,W,7,6,NaN,4-4,...,0,CHC2010-04-14,2010-04-13,CHW,-2,0.375000,-1,3,5,1
1304,9,2010-04-15,CHC,1,MIL,L,6,8,NaN,4-5,...,0,CHC2010-04-15,2010-04-14,CHW,-1,0.444444,1,4,5,1
1467,10,2010-04-16,CHC,1,HOU,W,7,2,NaN,5-5,...,0,CHC2010-04-16,2010-04-15,CHW,-2,0.400000,-1,4,6,1
1630,11,2010-04-17,CHC,1,HOU,L,3,4,NaN,5-6,...,0,CHC2010-04-17,2010-04-16,CHW,-3,0.363636,-2,4,7,1
1793,12,2010-04-18,CHC,1,HOU,L,2,3,10,5-7,...,1,CHC2010-04-18,2010-04-17,CHW,-4,0.333333,-3,4,8,1
3096,20,2010-04-26,CHC,1,WSN,W-wo,4,3,10,10-10,...,0,CHC2010-04-26,2010-04-25,CHW,-3,0.421053,3,8,11,1
3258,21,2010-04-27,CHC,1,WSN,L,1,3,NaN,10-11,...,0,CHC2010-04-27,2010-04-25,CHW,-3,0.421053,3,8,11,2
3421,22,2010-04-28,CHC,1,WSN,L,2,3,NaN,10-12,...,0,CHC2010-04-28,2010-04-27,CHW,-4,0.400000,-1,8,12,1
3584,23,2010-04-29,CHC,1,ARI,L,5,13,NaN,10-13,...,0,CHC2010-04-29,2010-04-28,CHW,-5,0.380952,-2,8,13,1
3747,24,2010-04-30,CHC,1,ARI,W,11,5,NaN,11-13,...,0,CHC2010-04-30,2010-04-29,CHW,-4,0.409091,1,9,13,1
3910,25,2010-05-01,CHC,1,ARI,W,7,5,NaN,12-13,...,0,CHC2010-05-01,2010-04-30,CHW,-5,0.391304,-1,9,14,1
4073,26,2010-05-02,CHC,1,ARI,W,10,5,NaN,13-13,...,1,CHC2010-05-02,2010-05-01,CHW,-4,0.416667,1,10,14,1
5215,33,2010-05-10,CHC,1,FLA,L,2,4,NaN,14-19,...,0,CHC2010-05-10,2010-05-09,CHW,-6,0.406250,-1,13,19,1
5377,34,2010-05-11,CHC,1,FLA,L,2,3,NaN,14-20,...,0,CHC2010-05-11,2010-05-09,CHW,-6,0.406250,-1,13,19,2
5540,35,2010-05-12,CHC,1,FLA,W,4,3,NaN,15-20,...,0,CHC2010-05-12,2010-05-11,CHW,-5,0.424242,1,14,19,1
5703,36,2010-05-14,CHC,1,PIT,L,6,10,NaN,15-21,...,0,CHC2010-05-14,2010-05-12,CHW,-6,0.411765,-1,14,20,2
5866,37,2010-05-15,CHC,1,PIT,L,3,4,NaN,15-22,...,0,CHC2010-05-15,2010-05-14,CHW,-7,0.400000,-2,14,21,1
6029,38,2010-05-16,CHC,1,PIT,W,4,3,NaN,16-22,...,1,CHC2010-05-16,2010-05-15,CHW,-6,0.416667,1,15,21,1
6192,39,2010-05-17,CHC,1,COL,W-wo,4,2,11,17-22,...,0,CHC2010-05-17,2010-05-16,CHW,-7,0.405405,-1,15,22,1
6354,40,2010-05-18,CHC,1,COL,W,6,2,NaN,18-22,...,0,CHC2010-05-18,2010-05-16,CHW,-7,0.405405,-1,15,22,2
7333,46,2010-05-25,CHC,1,LAD,W,3,0,NaN,22-24,...,0,CHC2010-05-25,2010-05-24,CHW,-6,0.431818,1,19,25,1
7496,47,2010-05-26,CHC,1,LAD,L,5,8,NaN,22-25,...,0,CHC2010-05-26,2010-05-25,CHW,-7,0.422222,-1,19,26,1
7659,48,2010-05-27,CHC,1,LAD,W,1,0,NaN,23-25,...,0,CHC2010-05-27,2010-05-26,CHW,-6,0.434783,1,20,26,1
7822,49,2010-05-28,CHC,1,STL,L,1,7,NaN,23-26,...,0,CHC2010-05-28,2010-05-27,CHW,-7,0.425532,-1,20,27,1
7985,50,2010-05-29,CHC,1,STL,W,5,0,NaN,24-26,...,0,CHC2010-05-29,2010-05-28,CHW,-6,0.437500,1,21,27,1
8148,51,2010-05-30,CHC,1,STL,L,1,9,NaN,24-27,...,1,CHC2010-05-30,2010-05-29,CHW,-7,0.428571,-1,21,28,1
9778,61,2010-06-11,CHC,1,CHW,L,5,10,NaN,27-34,...,0,CHC2010-06-11,2010-06-10,CHW,-7,0.440678,2,26,33,1
9941,62,2010-06-12,CHC,1,CHW,L,1,2,NaN,27-35,...,0,CHC2010-06-12,2010-06-11,CHW,-6,0.450000,3,27,33,1
10104,63,2010-06-13,CHC,1,CHW,W,1,0,NaN,28-35,...,1,CHC2010-06-13,2010-06-12,CHW,-5,0.459016,4,28,33,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089739,102,2019-07-23,SFG,1,CHC,W-wo,5,4,13,52-50,...,0,SFG2019-07-23,2019-07-22,OAK,14,0.568627,-2,58,44,1
2089902,103,2019-07-24,SFG,1,CHC,L,1,4,NaN,52-51,...,0,SFG2019-07-24,2019-07-23,OAK,15,0.572816,1,59,44,1
2091532,113,2019-08-05,SFG,1,WSN,L,0,4,NaN,56-57,...,0,SFG2019-08-05,2019-08-04,OAK,17,0.575221,3,65,48,1
2091695,114,2019-08-06,SFG,1,WSN,L,3,5,NaN,56-58,...,0,SFG2019-08-06,2019-08-05,OAK,16,0.570175,-1,65,49,1
2091858,115,2019-08-07,SFG,1,WSN,L,1,4,NaN,56-59,...,0,SFG2019-08-07,2019-08-06,OAK,17,0.573913,1,66,49,1
2092021,116,2019-08-08,SFG,1,PHI,W,5,0,NaN,57-59,...,0,SFG2019-08-08,2019-08-07,OAK,16,0.568966,-1,66,50,1
2092183,117,2019-08-09,SFG,1,PHI,L,6,9,NaN,57-60,...,0,SFG2019-08-09,2019-08-07,OAK,16,0.568966,-1,66,50,2
2092346,118,2019-08-10,SFG,1,PHI,W,3,1,NaN,58-60,...,0,SFG2019-08-10,2019-08-09,OAK,17,0.572650,1,67,50,1
2092509,119,2019-08-11,SFG,1,PHI,W,9,6,NaN,59-60,...,1,SFG2019-08-11,2019-08-10,OAK,16,0.567797,-1,67,51,1
2092672,120,2019-08-13,SFG,1,OAK,W,3,2,NaN,60-60,...,0,SFG2019-08-13,2019-08-11,OAK,17,0.571429,1,68,51,2
2092835,121,2019-08-14,SFG,1,OAK,L,5,9,NaN,60-61,...,0,SFG2019-08-14,2019-08-13,OAK,16,0.566667,-1,68,52,1
2094465,131,2019-08-26,SFG,1,ARI,L,4,6,NaN,65-66,...,0,SFG2019-08-26,2019-08-25,OAK,20,0.576923,-2,75,55,1
2094628,132,2019-08-27,SFG,1,ARI,L,2,3,NaN,65-67,...,0,SFG2019-08-27,2019-08-26,OAK,21,0.580153,1,76,55,1
2094792,133,2019-08-29,SFG,1,SDP,L,3,5,NaN,65-68,...,0,SFG2019-08-29,2019-08-28,OAK,21,0.578947,-1,77,56,1
2094955,134,2019-08-30,SFG,1,SDP,W,8,3,NaN,66-68,...,0,SFG2019-08-30,2019-08-29,OAK,22,0.582090,1,78,56,1
2095118,135,2019-08-31,SFG,1,SDP,L,1,4,NaN,66-69,...,0,SFG2019-08-31,2019-08-30,OAK,23,0.585185,2,79,56,1
2095281,136,2019-09-01,SFG,1,SDP,L,4,8,NaN,66-70,...,1,SFG2019-09-01,2019-08-31,OAK,22,0.580882,-1,79,57,1
2096584,144,2019-09-09,SFG,1,PIT,L,4,6,NaN,69-75,...,0,SFG2019-09-09,2019-09-08,OAK,25,0.587413,2,84,59,1
2096747,145,2019-09-10,SFG,1,PIT,W,5,4,NaN,70-75,...,0,SFG2019-09-10,2019-09-09,OAK,24,0.583333,-1,84,60,1
2096910,146,2019-09-11,SFG,1,PIT,L,3,6,NaN,70-76,...,0,SFG2019-09-11,2019-09-10,OAK,25,0.586207,1,85,60,1
2097073,147,2019-09-12,SFG,1,PIT,L,2,4,NaN,70-77,...,0,SFG2019-09-12,2019-09-11,OAK,26,0.589041,2,86,60,1
2097236,148,2019-09-13,SFG,1,MIA,W,1,0,NaN,71-77,...,0,SFG2019-09-13,2019-09-12,OAK,27,0.591837,3,87,60,1
2097399,149,2019-09-14,SFG,1,MIA,L,2,4,NaN,71-78,...,0,SFG2019-09-14,2019-09-13,OAK,28,0.594595,4,88,60,1
2097562,150,2019-09-15,SFG,1,MIA,W,2,1,NaN,72-78,...,1,SFG2019-09-15,2019-09-14,OAK,29,0.597315,5,89,60,1
2098703,157,2019-09-24,SFG,1,COL,L,5,8,16,75-82,...,0,SFG2019-09-24,2019-09-22,OAK,32,0.602564,-1,94,62,2
2098866,158,2019-09-25,SFG,1,COL,W-wo,2,1,NaN,76-82,...,0,SFG2019-09-25,2019-09-24,OAK,31,0.598726,-2,94,63,1
2099029,159,2019-09-26,SFG,1,COL,W,8,3,NaN,77-82,...,0,SFG2019-09-26,2019-09-25,OAK,32,0.601266,1,95,63,1
2099192,160,2019-09-27,SFG,1,LAD,L,2,9,NaN,77-83,...,0,SFG2019-09-27,2019-09-26,OAK,33,0.603774,2,96,63,1
2099355,161,2019-09-28,SFG,1,LAD,L,0,2,NaN,77-84,...,0,SFG2019-09-28,2019-09-27,OAK,32,0.600000,-1,96,64,1
2099518,162,2019-09-29,SFG,1,LAD,L,0,9,NaN,77-85,...,1,SFG2019-09-29,2019-09-28,OAK,33,0.602484,1,97,64,1

In [7]:
def mean_std(cat):
    print(cat + ':')
    for i in Teams:
        TeamTemp = homegames[homegames['Team'] == i]
        TeamTemp = TeamTemp[pd.notnull(TeamTemp[cat])]
        TeamTemp[cat] = TeamTemp[cat].astype(str).astype(int)
        TeamMean = TeamTemp[cat].mean()
        TeamStd = TeamTemp[cat].std()
        print(i + "'s Mean: " + str(TeamMean))
        print(i + "'s Standard Dev: " + str(TeamStd))

In [8]:
mean_std('Attendance')
#mean_std('Win_Per')

Attendance:
CHC's Mean: 36891.974968710885
CHC's Standard Dev: 4080.876292558024
CHW's Mean: 22465.715012722645
CHW's Standard Dev: 6536.423707134375
LAA's Mean: 37858.708798017346
LAA's Standard Dev: 4100.180384667041
LAD's Mean: 44832.69937888199
LAD's Standard Dev: 6405.553003267846
NYM's Mean: 29966.022813688214
NYM's Standard Dev: 6223.064231626648
NYY's Mean: 42032.096815286626
NYY's Standard Dev: 4881.165233741245
OAK's Mean: 20075.015132408575
OAK's Standard Dev: 7939.438976393215
SFG's Mean: 40054.90099009901
SFG's Standard Dev: 3294.46544414653

In [9]:
segment_dummies = pd.get_dummies(homegames['Team'])
homegames = pd.concat([homegames, segment_dummies], axis=1)
homegames.head()

,GM_Num,Date,Team,Home,Opp,W/L,R,RA,Inn,W-L,...,Losses_Same_Mkt_Team,date_diff,CHC,CHW,LAA,LAD,NYM,NYY,OAK,SFG
977,7,2010-04-12,CHC,1,MIL,W,9,5,NaN,3-4,...,4,1,1,0,0,0,0,0,0,0
1141,8,2010-04-14,CHC,1,MIL,W,7,6,NaN,4-4,...,5,1,1,0,0,0,0,0,0,0
1304,9,2010-04-15,CHC,1,MIL,L,6,8,NaN,4-5,...,5,1,1,0,0,0,0,0,0,0
1467,10,2010-04-16,CHC,1,HOU,W,7,2,NaN,5-5,...,6,1,1,0,0,0,0,0,0,0
1630,11,2010-04-17,CHC,1,HOU,L,3,4,NaN,5-6,...,7,1,1,0,0,0,0,0,0,0

In [10]:
homegames.to_csv('homegames.csv')